# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server (Preview) and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


DATABASE_URL="mysql://root:root@localhost:9999/sales-preview?schema=public"
DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASS=root
DB_NAME=booston-io
DB_PORT=9999
APP_PORT=7071
APP_ENV=dev
APP_INSPECT_PORT=9501
PRIVATE_KEY="../../certs/server.key"
PUBLIC_KEY="../../certs/server.crt"
APP_PRIVATE_KEY="OihHUoirhgoeh^fy#BoostOn - Development"
# If present will enable bugsnag error reporting otherwise will just output to console
BUGSNAG_KEY=
# Can be used to log to a specific file for commands Logger.log('error', 'Some Error Message');
LOGGER_PATH=
